@font-face{
	font-family: lol;
	src:url(fonts/SourceSansPro-Black.ttf);
}

body{
	padding: 0;
	margin: 0;
	font-size: 15pt;
}

.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}


.header{
	padding: 20px;
	background: #553532;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

ul{
	list-style: none;
}

ul a{
	text-decoration: none;
	color: #fff;
}

.logo{
	font-family: lol;
	color: #fff;
	font-size: 20pt;
}

.ul li{
	margin-left: 20px;	
	padding: 5px;
}

.ul li:nth-child(1){
	margin-left: 0;
}

.ul li:hover{
	border: 1px solid aqua;
	border-style: dashed;
	border-radius: 10px;
	background: #000;
	transition: 0.2s;
}

.m-navbar{
	width: 100%;
	height: 120vh;
	padding: 0;
	margin: 0;
	background: #553532;
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 35pt;
	transform: translateX(100%);
	display: none;
	transition: 0.2s;
	
}
.m_icon_none{
	display: none;
}

.m-ul{
	margin-left: 40%;
	margin-top: 50px;
}

.animating{
	display: block;
	transform: translateX(0%);
}

.m-navbar li{
	height: 3vh;
	width: auto;
	margin-bottom: 6vh;
}





.m_icon{
	right: 2%;
	top: 1%;
	position: absolute;
	display: none;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border:none;
	outline: none;
}



@media (max-width: 1199px) {
	body{
		font-size: 13px;
	}
}


@media (max-width: 991px) {
	body{
		font-size: 11pt;
	}
	.navbar{
		display: none;
	}

	header > i{
		display: inline-block;
		cursor: pointer;
	}

	.m_icon{
		display: block;
	}
}