@font-face{
	font-family: lol;
	src:url(fonts/SourceSansPro-Black.ttf);
}

body{
	padding: 0;
	margin: 0;
	font-size: 15pt;
	width: 100%;
	height: 100%;
}

.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}



.header{
	padding: 20px;
	background: #55ee34;
	justify-content: space-between;
	align-items: center;
}

ul{
	list-style: none;
}

ul a{
	text-decoration: none;
	color: #000;
}

.square{
	width: 50px;
	height: 50px;
	background-color: red;
}

.main {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
}
footer {
  height: 80px;
  margin-top: -80px;
}

.logo{
	font-family: lol;
	color: #fff;
	font-size: 20pt;
}

.ul li{
	margin-left: 20px;	
	padding: 5px;
}

.ul li:nth-child(1){
	margin-left: 0;
}

.ul li:hover{
	border: 1px solid black;
	border-style: dashed;
	border-top: none;
	border-right: none;
	border-left: none;
	transition: 0.5s;
}

.m-navbar .logo{
	margin: 20px;
}

.m-navbar{
	width: 100%;
	height: 40vh;
	background: #55ee34;
	position: fixed;
	font-size: 15pt;
	
	
}



.m_icon_none{
	display: none;
}

.m-ul{
	margin-left: 40%;
	margin-top: 20px;
}

.m-ul li{
	margin-bottom: 5px;
}

.animating{

	
	visibility: visible;
}

.m-navbar li{
	height: 3vh;
	width: auto;
	margin-bottom: 2vh;
}





.m_icon{
	right: 0;
	top: 1%;
	position: absolute;
	display: none;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border:none;
	outline: none;
}



@media (max-width: 1199px) {
	body{
		font-size: 13px;
	}
}


@media (max-width: 991px) {
	body{
		font-size: 11pt;
	}
	.navbar{
		display: none;
	}

	header > i{
		display: inline-block;
		cursor: pointer;
	}

	.m_icon{
		display: block;
	}
}