@font-face{
	font-family: Raleway;
	src:url(fonts/Raleway-Regular.ttf);
}

@font-face{
	font-family: MontserratLight;
	src:url(fonts/Montserrat-Light.ttf);
}

@font-face{
	font-family: RalewayBold;
	src:url(fonts/Raleway-Bold.ttf);
}

@font-face{
	font-family: RalewayMedium;
	src:url(fonts/Raleway-Medium.ttf);
}

@font-face{
	font-family: RalewayextraBold;
	src:url(fonts/Raleway-ExtraBold.ttf);
}

@font-face{
	font-family: MontserratLight;
	src:url(fonts/Montserrat-Light.ttf);
}

@font-face{
	font-family: RalewaySemiBold;
	src:url(fonts/Raleway-SemiBold.ttf);
}

@font-face{
	font-family: RalewayRegular;
	src:url(fonts/Raleway-Regular.ttf);
}

@font-face{
	font-family: MontserratExtraLight;
	src:url(fonts/Montserrat-ExtraLight.ttf);
}


html{
	scroll-behavior: smooth;
}

body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

h1,h2,h3,h4,p,h5,h6,ul{
	margin: 0;
	padding: 0;
}


#main{
	background: url(img/photo.png);
	-webkit-background-size: cover;
	        background-size: cover;        

	overflow: hidden;	
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

html, body {     
     height: 100%; 
}



.header{
	display: flex;
	padding-right: 10px ;
	padding-left: 100px;
	overflow:hidden; 
	justify-content: space-around;
}

.nav a{
	color: white;
	font-family: MontserratLight;
}

.nav{
	display: flex;
	flex-wrap: wrap;
	font-size: 14pt;
	margin-top: 66px;
	margin-left: 100px;
}

.nav li{
	display: flex;
	margin-left: 30px;
	flex-wrap: wrap;
	margin-bottom: 5px;
}

.nav li:nth-child(1){
	margin-left: 0;
}

.icon2:hover{
	background: url(img/search2.png);
}

.icon:hover{
	background: url(img/icon-cart-color.png);
}

.nav a:hover{
	transition: 0.3s;
	color: #bfab94;
}



.img_logo{
	margin-top: 40px;
	height: 56px;
}

.img_logo_footer{
	height: 56px;
}


.logotype{
	display: flex;
}

.h3_logo{
	margin-top: 56px;
	color: white;
	font-family: RalewayRegular;
}

.spasibo{
	font-size: 30pt;
	color: yellow;

}

.spasibo a{
	color: red;
	font-size: 35pt;
}

.lorem{
	color: #555555;
	font-family: MontserratLight;
	font-size: 10pt;
	margin-top: 30px;
	width: 270px;
	margin-bottom: 60px;
}

.lorem2{
	color: #555555;
	font-family: MontserratLight;
	font-size: 10pt;
	margin-top: 30px;
	width: 270px;
	margin-bottom: 25px;
}


.lorem3{
	color: #c7b299;
	font-family: MontserratLight;
	font-size: 10pt;
	margin-top: 30px;
	width: 270px;
	margin-bottom: 25px;
}

.lorem2:hover{
	color: #c7b299;
}

.lorem2:hover em{
	color: white;
}


.readmore{
	color: white;
	cursor: pointer;
	text-decoration: none;
	height: 30px;
}

.part{
	display: flex;
	flex-direction: column;
}

.readmore:hover{
	text-decoration: underline;
	text-decoration-style: unset; 

}

.hr{
	height: 1px;
	width: 270px;
	background: #252525;
	margin-top: 0;
}

footer{
	background: #191919;
	padding-top: 80px;
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
}

.part{
	margin-left: 35px;
}

.imgfooter{
	transition: 0.3s;
}

.imgfooter:hover{
	transform: scale(1.1);
}


.part:nth-child(1){
	margin-left: 0;
}

.logo_text{
	font-family: RalewayRegular;
	color: white;
	font-size: 34pt;
}

.recent{
	font-family: RalewayBold;
	font-size: 24pt;
	color: white;
}

.logo{
	font-size: 24pt;
	font-family: Raleway;
	display: flex;
	position: absolute;
	left: 100px;
	top: 0;
}

.logo:hover{

}


.wrap_main_h3{
	font-family: RalewayMedium;
	color: white;
	font-size: 18pt;
	margin-top: 210px;
}

.wrap_main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.wrap_main_h1{
	font-family: RalewayExtraBold;
	font-size: 26pt;
	color: white;
}

.wrap_main_p{
	font-family: MontserratLight;
	color: white;
	font-size: 8pt;
	width: 350px;
	text-align: center;
}

.wrap_main_button{
	font-family: RalewayExtraBold;
	width: 170px;
	height: 55px;
	font-size: 9pt;
	outline: none;
	border:none;
	border-radius: 3px;
	background: #998675;
	color: white;
	margin-bottom: 13.5%;
	border-bottom: 3px solid rgba(46, 50, 50, 0.32);
	margin-top: 55px;
}

.wrap_main_button:hover{
	transition: 0.3s;

	border-right: 3px solid rgba(46, 50, 50, 0.32);
}


.about_footer_button{
	font-family: RalewayExtraBold;
	width: 170px;
	height: 55px;
	font-size: 9pt;
	outline: none;
	border:none;
	border-radius: 3px;
	background: #998675;
	color: white;

	border-bottom: 3px solid rgba(46, 50, 50, 0.32);
}

.about_footer_button:hover{
	transition: 0.3s;
	border-right: 3px solid rgba(46, 50, 50, 0.32);
}

.about_footer_button:active{
	transition: 0.3s;
	border: 3px solid rgba(46, 50, 50, 0.32);
}

.portfolio_button{
	font-family: RalewayExtraBold;
	width: 170px;
	height: 55px;
	font-size: 9pt;
	outline: none;
	border:none;
	border-radius: 3px;
	background: #998675;
	color: white;

	border-bottom: 3px solid rgba(46, 50, 50, 0.32);
}

.portfolio_button:hover{
	transition: 0.3s;
	border-right: 3px solid rgba(46, 50, 50, 0.32);
}

.portfolio_button:active{
	transition: 0.3s;
	border: 3px solid rgba(46, 50, 50, 0.32);
}

.wrap_main_button:active{
	transition: 0.3s;
	border: 3px solid rgba(46, 50, 50, 0.32);
}


i{
	visibility: hidden;
	color: white;
	position: absolute;
	right: 5%;
	top: 5%;
}

.nav-m{
	display: none;
	font-size: 14pt;
	margin-top: 66px;
	padding-right: 100px;
}

.cards{
	display: flex;
	padding-left: 30px;
	padding-right: 30px;
	padding-top:80px;
	justify-content: space-around;
}

.card{
	text-align: center;
	margin-left: 40px;
	width: 250px;
}

.card:nth-child(1){
	margin-left: 0;
}

.card:hover hr{
	width: 52%;
	background: #c7b299;
	height: 3%;
	transition: 0.2s;
}


.hr1{
	width: 50%;
	height: 2%;
	border-radius: 5px;
	background: gray;
	border:none;
}

hr{
	width: 50%;
	border-radius: 5px;
	background: #252525;
	border:none;
}

.card:hover .card_h1{
	color: #c7b299;
	transition: 0.2s;
}
.card_h1{
	color: black;
	font-size: 22pt;
	font-family: RalewaySemiBold;
}
.card_p{
	font-size: 14pt;
	color: #8c8c8c;
	font-family: MontserratLight;
	margin-bottom: 50px;
}

#about{
	display: flex;
	flex-direction: column;
}


.image{
	position: absolute;
}
.images_1{
	left: 70px;
	top: 80px;
}
.images_2{
	left: 350px;
	top: 0;
}
.images_3{
	left: 600px;
	top: 80px;

}


.swiper-container {
      width: 90%;
      height: 610px;
      margin-left: 0;
}
    .swiper-slide {
      background-position: center;
      background-size: cover;
      }


.about_footer_h2{
	font-family: RalewayRegular;
	color: white;
}

strong{
	color:#bfab94;
}

.nav-m a{
	color: white;
	font-family: MontserratLight;
}

.about_footer_p{
	font-family: MontserratLight;
	color:#615855;
	font-size: 15pt;
}

.nav-m li{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
}
.nav-m a:hover{
	transition: 0.3s;
	color: #bfab94;
}


.about_footer{
  background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  height: 85px;
  margin-top: 50px;
  padding: 25px 160px;
  padding-bottom: 25px;
  font-size: 14pt;
  position: relative;
  display: flex;
	justify-content: space-between;

	
  flex-wrap: wrap;
}

.about_h1{
	color: #555555;
	font-family: RalewaySemiBold;
	margin: 0 auto;
	margin-top: 100px;
}
.blabla{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about_p{
	font-family: MontserratLight;
	color: #8c8c8c;
	margin: 0 auto;
	margin-bottom: 70px;
	width: 750px;
	text-align: center;
}














 
}

#portfolio{
	display: flex;
	flex-direction: column;
}

.portfolio_header_h1{
	font-family: RalewaySemiBold;
	color: #555555;
	font-size: 30pt;
}

.portfolio_header{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}


.portfolio_header_p{
	font-family: MontserratLight;
	font-size: 16pt;
	color: #8c8c8c;
	margin-top: 35px;
	width: 770px;
	text-align: center;
}

.portfolio_header_ul{
	margin-top: 45px;
	display: flex;
	justify-content: center;
}

.mobile_text{
	margin-top: 110px;
}

.mobile_text_title{
	font-family: RalewaySemiBold;
	font-size: 30pt;
	color: #555555;
}

.mobile_text_sig{
	font-family: MontserratLight;
	font-size: 16pt;
	color: #8c8c8c;
	width: 620px;
}

.n1{
	display: flex;
	justify-content: center;
}

.mobile_text_ul{
	list-style-image: url(img/listStyleImg.png);
	font-family: MontserratLight;
	color: #8c8c8c;
	font-size: 11pt;
	margin-top: 70px;
	margin-left: 30px;
}

#mobile{
	display: flex;
	flex-direction: column;

}

.mobile_footer{
	background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 60px;
}

.number{
	margin-top: 30px;
	margin-bottom: 20px;
	color: white;
	font-family: MontserratExtraLight;
	font-size: 48pt;
}



.number_signature{
	color: #c7b299;
	font-size: 14pt;
	font-family: MontserratLight;
}

.foot{
	margin-left: 80px;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

.ul_item{
	height: 30px;
	margin-left: 15px;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	color: #8c8c8c;
	font-size: 14pt;
	font-family: MontserratLight;
	padding: 10px 25px;
	cursor: pointer;
}




.ul_item:hover{
	transition: 0.3s;
	background: #998675;
	color: white;
}

.portfolio_main1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
}

.portfolio_main_item{

	margin-left: 30px;
}


.item_img {
  position: relative

}



.a{
    display: inline-block;
}
.a .div{
    background: #000; 
    overflow: hidden;
    position: relative;  
}
.a .div .item_img{
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;  
	width: 100%;
	height: auto;
    display: block; 
}
.a:hover .div .item_img{
    opacity: 0.4; 
}

.a:hover {
    opacity: 0.9; 
}

.a:hover .signature{
    background: #362f2d; 
    transition: 0.3s;
}

.ul_item_anim{
	background: #998675;
	color: white;
}



.ul_item_animno{color: #8c8c8c;
background: white;
}

.a:hover  .div::before {
    content: ''; 
    z-index: 999;
    position: absolute; /* Абсолютное позиционирование */
    left: 20px; bottom: 0; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #362f2d; /* Добавляем треугольник */
   }

.a:hover .icon_img1{
    visibility: visible;
}

.a:hover .icon_img2{
    visibility: visible;
}


.icon_img1{
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 35%;
	z-index: 9999;
}

.icon_img2{
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9999;
}


.signature_p{
	font-family: MontserratLight;
	font-size: 14pt;
	color: #d1d1d1;
}

.signature_h1{
	font-family: RalewayMedium;
	font-size: 20pt;
	color: #c7b299;
}

.portfolio_button{
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 80px;
}


.vidimg{
	z-index: 9;
	position: relative;
}

#video{
	z-index: 0;
	position: relative;
	height: 705px;
}

.exit{
	position: fixed;
	right: 20px;
	top: 20px;
	outline: none;
	background: transparent;
	background: black;
	width: 40px;
	height: 40px;
	color: white;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	border-radius: 50px;
	}


	.exit:hover{
		transition: 0.3s;
		transform: scale(1.5);
		color: black;
		background: lightgray;
	}


.icon_play{
	position: absolute;
	top: 29%;
	cursor: pointer;
	z-index: 9999999999999;
}

.signature{
	background: #fbfaf8;
	padding: 35px 30px;
}

.vid{
	display: flex;
	justify-content: center;
	position: relative;
}

 .div::before {
    content: ''; 
    z-index: 999;
    position: absolute; /* Абсолютное позиционирование */
    left: 20px; bottom: 0; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #fbfaf8; /* Добавляем треугольник */
   }

	.video{
		-webkit-box-shadow: -23px 49px 130px 39px rgba(117,111,117,1);
-moz-box-shadow: -23px 49px 130px 39px rgba(117,111,117,1);
box-shadow: -23px 49px 130px 39px rgba(117,111,117,1); 
	z-index: 9999999;
	position: absolute;
	left: 5%;
	bottom: -500%;
	width: 90%;
	margin-bottom: 50px;
	display: none;
	background: none;
	}

	.no{
		cursor: pointer;
		text-align: center;
	}


	#video{
		width: 100%;
		height: auto;
		position: absolute;
		margin-bottom: 50px;
		margin-top: 50px;
		cursor: pointer;
	}


	.up{
		background: black;
		width: 40px;
		height: 40px;
		position: fixed;
		bottom: 20px;
		right: 20px;
		color: white;
		text-align: center;
		line-height: 40px;
		cursor: pointer;
		display: none;
		border-radius: 50px;
	}


	.up:hover{
		transition: 0.3s;
		transform: scale(1.5);
		color: black;
		background: lightgray;
	}


@media (max-width: 1199px){
	*{font-size: 14pt;}
	.card{
		font-size: 13pt;
		margin-left: 40px;
		width: 99%;
}

	.image{
		visibility: hidden;
	}
	.about_images{
		height: 0;
	}

.card:nth-child(1){
		margin-left: 40px;
}
		.cards{
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 10px	;
		padding-top: 80px;
	}
	.card_h1{
		font-size: 32pt;
	}
	
.card_p{
	font-size: 24pt;
	margin-bottom: 15px;
}
.card_p a{
	font-size: 24pt;
}
hr{
	margin-bottom: 5%;
}

.about_h1{
	font-size: 34pt;
}
.about_p{
	font-size: 26pt;
}
}


@media (max-width: 991px){
	.nav{
		display: none;
	}
	i{
		visibility: visible;
	}

	.portfolio_main1{
		flex-wrap: wrap;
	}


	.cards{
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		margin-top: 80px;
		padding: 10px	;
	}

	.swiper-container{
		display: none;
	}

	.about_footer_button{
		margin-top: 5px;
	}

	.card{
		margin-bottom: 20px;
	}

	.card_p{
		margin-bottom: 10px;
	}

	.about_footer{
		height: 200px;
	}
	
	.up{
		right: 7%;
	}

	footer{
		flex-wrap: wrap;
	}

	.n1{
		flex-wrap: wrap;
	}
	
	.iphone{
		margin-top: 10px;
	}

	.mobile_footer{
		font-size: 10pt;
	}

	.mobile_text{
		display: flex;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}
	.logo{
		padding-left: 0;
	}
	header{
		padding-left: 0;
	}
}

